@model List<MarioFood.Models.Product>

<h2>Our Most Recent Products</h2>

<div class="card-group">
    @foreach (var Product in @Model)
    {
        <br>
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <h4 class="card-title">@Html.ActionLink((string)Product.ProductName + "- See Reviews", "Details", "Product", new { ProductId = Product.ProductId })</h4>
                <h6 class="card-subtitle mb-2 text-muted">$@Product.ProductCost dish from @Product.ProductCountry</h6>
            </div>
            <div class="card-footer">
                <a class="card-link">@Html.ActionLink("Edit", "Update", "Product", new { ProductId = Product.ProductId })</a>
                <a class="card-link">@Html.ActionLink("Delete", "Delete", "Product", new { ProductId = @Product.ProductId })</a>
            </div>
        </div>
    }
</div>

<h2>Our Most Reviewed Products</h2>
<div class="card-group">
    @foreach (var Product in ViewBag.MostReviewed)
    {
       <br />
        <div class="card card-inverse card-bg">
            <div class="card-block">
                <h4 class="card-title">@Html.ActionLink((string)Product.ProductName + "- See Reviews", "Details", "Product", new { ProductId = Product.ProductId })</h4>
                <h6 class="card-subtitle mb-2 text-muted">$@Product.ProductCost dish from @Product.ProductCountry</h6>
            </div>
            <div class="card-footer">
                <a class="card-link">@Html.ActionLink("Edit", "Update", "Product", new { ProductId = Product.ProductId })</a>
                <a class="card-link">@Html.ActionLink("Delete", "Delete", "Product", new { ProductId = @Product.ProductId })</a>
            </div>
        </div>
    }

</div>
    @Html.ActionLink("View All Products", "Index", "Product")

