@model MarioFood.Models.Product


<div class="jumbotron"><h2>Edit @Model.ProductName Product</h2></div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    <label>Name</label>
    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })

    <label>Cost</label>
    @Html.EditorFor(model => model.ProductCost, new { htmlAttributes = new { @class = "form-control" } })


    <label>Country</label>
    @Html.EditorFor(model => model.ProductCountry, new { htmlAttributes = new { @class = "form-control" } })

    <input type="Submit" value="Save" class ="btn btn-info"/>
    <input type="button" class="btn btn-warning" value="Back" onclick="location.href='@Url.Action("Index")'" />
}

